---
import Layout from "../layouts/Layout.astro";
import ProductCard from "../components/ProductCard.astro";
import FeatureItem from "../components/FeatureItem.astro";
import { Image } from "astro:assets";
import adobeStock229227468 from "../assets/images/adobe-stock-229227468.webp";
import avantajPhoto from "../assets/images/avantaj-photo.webp";
import clasicPhoto from "../assets/images/clasic-photo.webp";
import avantajTigla from "../assets/images/avantaj/negru-tile.webp";
import clasicTigla from "../assets/images/clasic/rosu-inchis-tile.webp";
import tiglaBoots from "../assets/images/tigla-boots.webp";
import tiglaAerial from "../assets/images/tigla-aerial.webp";
import hammerIcon from "../assets/images/icons/hammer-icon.svg";
import ecoIcon from "../assets/images/icons/eco-icon.svg";
import thunderstormIcon from "../assets/images/icons/thunderstorm-icon.svg";
import vectorIcon from "../assets/images/icons/vector-icon.svg";
import badgeCheckIcon from "../assets/images/icons/badge-check-icon.svg";
---

<Layout
  title="Acasă"
  description="IMCOP produce și comercializează țigle din beton de înaltă calitate din 1991. Oferim garanție 30 de ani pentru acoperișuri sigure și durabile. Descoperă gama noastră de produse: Tigla Avantaj și Tigla Clasic."
>
  <section class="relative overflow-hidden">
    <!-- Right side - Background and Image -->
    <div
      class="absolute top-0 right-0 -z-10 hidden h-full w-4xl bg-linear-to-br from-[#ABCEFF] to-[#E0EBFD] md:block"
      style={`background: url(${adobeStock229227468.src}) no-repeat bottom 0 left -300px, linear-gradient(var(--tw-gradient-stops)); transform: scaleX(-1); background-size: 100%;`}
    >
    </div>

    <!-- Left side - Text content -->
    <div class="relative md:my-26">
      <div
        class="mx-auto flex max-w-[600px] flex-col gap-6 bg-white px-4 py-16 md:py-26 lg:-translate-x-1/3"
      >
        <div class="border-primary w-40 border-b-4"></div>
        <h1
          class="text-4xl leading-tight font-bold text-neutral-800 md:text-6xl"
        >
          Un Acoperis Sigur<br />
          Din 1991
        </h1>
        <h2 class="max-w-[500px] leading-relaxed text-neutral-900">
          Fondată în 1991, cu o experiență de peste 30 de ani în domeniu, firma
          IMCOP produce și comercializează țigle din beton. Grija noastră este
          legată de siguranța pe care trebuie să ți-o dea acoperișul casei tale.
        </h2>
      </div>
    </div>
  </section>

  <!-- Products Section -->
  <section class="py-12 sm:py-16 lg:py-20">
    <ProductCard
      backgroundImage={avantajPhoto}
      productImage={avantajTigla}
      productImageWidth={160}
      productImageHeight={200}
      priority={true}
      title="Tigla Avantaj"
      description="Noul profil de țiglă Avantaj captivează prin suprafața sa dublu curbată, care conferă acoperișului un aspect ondulat"
      linkUrl="/produse/avantaj"
    />

    <ProductCard
      backgroundImage={clasicPhoto}
      productImage={clasicTigla}
      productImageWidth={160}
      productImageHeight={200}
      title="Tigla Clasic"
      description="Eternul clasic are o utilizare largă, el nu se demodează niciodată, forma geometrică, regulată, adaptându-se perfect oricărui tip de arhitectură."
      linkUrl="/produse/clasic"
      reverse={true}
    />
  </section>

  <!-- Details Section -->
  <section
    class="y-12 mx-auto max-w-[1200px] px-4 sm:px-6 sm:py-16 lg:px-8 lg:py-20"
  >
    <div class="flex flex-col items-center gap-18 md:flex-row">
      <!-- Images Grid -->
      <div class="flex flex-col items-center justify-center">
        <Image
          src={tiglaAerial}
          alt="Acoperiș cu țigle din beton IMCOP"
          class="h-[284px] rounded-md object-cover md:h-[461px]"
          width={413}
          height={461}
        />

        <Image
          src={tiglaBoots}
          alt="Detalii acoperiș cu țigle din beton"
          class="-mt-15 h-[184px] rounded-md object-cover object-right md:h-[284px]"
          width={341}
          height={284}
        />
      </div>

      <!-- Features -->
      <div class="flex flex-col gap-8 sm:gap-12 md:w-[490px]">
        <div class="flex flex-row gap-6">
          <FeatureItem icon={hammerIcon} iconAlt="Icon rezistență mecanică">
            <p>Rezistent la acțiuni mecanice si alte forte</p>
          </FeatureItem>
          <FeatureItem icon={ecoIcon} iconAlt="Icon ecologic">
            <p>Ecologic si prietenos cu mediul</p>
          </FeatureItem>
        </div>

        <div class="flex flex-row gap-6">
          <FeatureItem
            icon={thunderstormIcon}
            iconAlt="Icon protecție intemperii"
          >
            <p>Protejat impotriva ploilor, furtunilor si a incendiilor</p>
          </FeatureItem>
          <FeatureItem icon={vectorIcon} iconAlt="Icon rezistență temperatură">
            <p>
              Din punct de vedere al rezistenței la variații de temperatură
              extreme
            </p>
          </FeatureItem>
        </div>

        <FeatureItem
          icon={badgeCheckIcon}
          iconAlt="Icon garanție"
          fullWidth={true}
        >
          <p>
            IMCOP îți oferă UN ACOPERIȘ SIGUR!<br />
            Garantat 30 de ani
          </p>
        </FeatureItem>
      </div>
    </div>
  </section>
</Layout>

<!-- <PreFooter /> -->
