---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import PreFooter from "../components/PreFooter.astro";
import ProductCard from "../components/ProductCard.astro";
import FeatureItem from "../components/FeatureItem.astro";
import { Image } from "astro:assets";
import adobeStock229227468 from "../assets/images/adobe-stock-229227468.png";
import avantaj from "../assets/images/avantaj.png";
import avantajTigla from "../assets/images/avantaj-tigla.png";
import avantaj1 from "../assets/images/avantaj1.png";
import rectangle33 from "../assets/images/rectangle33.png";
import adobeStock192310307 from "../assets/images/adobe-stock-192310307.png";
import adobeStock72047399 from "../assets/images/adobe-stock-72047399.png";
import hammerIcon from "../assets/images/hammer-icon.png";
import ecoIcon from "../assets/images/eco-icon.png";
import thunderstormIcon from "../assets/images/thunderstorm-icon.png";
import vectorIcon from "../assets/images/vector-icon.png";
import badgeCheckIcon from "../assets/images/badge-check-icon.png";
import rectangle45Home from "../assets/images/rectangle45-home.png";
import rectangle49 from "../assets/images/rectangle49.png";
---

<Layout>
  <!-- Intro/Hero Section -->

  <div class="mx-auto max-w-[1200px] px-4 sm:px-6 lg:px-8">
    <Header />
  </div>
  <section class="relative overflow-hidden">
    <!-- Right side - Background and Image -->
    <div
      class="absolute top-0 right-0 -z-10 h-full w-3xl bg-linear-to-br from-[#ABCEFF] to-[#E0EBFD] bg-bottom bg-no-repeat"
      style={`background-image: url(${adobeStock229227468.src}), linear-gradient(var(--tw-gradient-stops)); transform: scaleX(-1);`}
    >
    </div>

    <!-- Left side - Text content -->
    <div
      class="rectangle1-gradient relative my-16 max-w-[1200px] px-4 sm:px-6 lg:px-8"
    >
      <div class="mx-auto flex max-w-[800px] flex-col gap-6 px-4 py-30">
        <div class="border-primary w-40 border-b-4"></div>
        <h1 class="text-6xl leading-tight font-bold">
          Un Acoperis Sigur<br />
          Din 1991
        </h1>
        <h2 class="text-md max-w-[500px] leading-relaxed text-neutral-500">
          Fondată în 1991, cu o experiență de peste 20 ani în domeniu, firma
          IMCOP produce și comercializează țigle din beton. Grija noastră este
          legată de siguranța pe care trebuie să ți-o dea acoperișul casei tale.
        </h2>
      </div>
    </div>
  </section>

  <!-- Products Section -->
  <section class="py-12 sm:py-16 lg:py-20">
    <ProductCard
      backgroundImage={avantaj}
      productImage={avantajTigla}
      productImageWidth={160}
      productImageHeight={200}
      title="Tigla Avantaj"
      description="Noul profil de țiglă Avantaj captivează prin suprafața sa dublu curbată, care conferă acoperișului un aspect ondulat"
      linkUrl="/produse"
    />

    <ProductCard
      backgroundImage={avantaj1}
      productImage={rectangle33}
      productImageWidth={160}
      productImageHeight={200}
      title="Tigla Clasic"
      description="Eternul clasic are o utilizare largă, el nu se demodează niciodată, forma geometrică, regulată, adaptându-se perfect oricărui tip de arhitectură."
      linkUrl="/produse"
      reverse={true}
    />
  </section>

  <!-- Details Section -->
  <section class="mx-auto my-16 max-w-[1200px] px-4 sm:px-6 lg:px-8">
    <div class="flex flex-col items-start gap-18 lg:flex-row lg:items-center">
      <!-- Images Grid -->
      <div class="flex flex-col items-center justify-center">
        <Image
          src={adobeStock192310307}
          alt=""
          class="h-[461px] rounded-md object-cover object-right"
          width={413}
          height={461}
        />

        <Image
          src={adobeStock72047399}
          alt=""
          class="-mt-15 h-[284px] rounded-md object-cover object-right"
          width={341}
          height={284}
        />
      </div>

      <!-- Features -->
      <div class="flex flex-col gap-8 sm:gap-12 lg:w-[490px]">
        <div class="flex flex-col gap-6 sm:flex-row">
          <FeatureItem icon={hammerIcon}>
            <p>Rezistent la acțiuni mecanice si alte forte</p>
          </FeatureItem>
          <FeatureItem icon={ecoIcon}>
            <p>Ecologic si prietenos cu mediul</p>
          </FeatureItem>
        </div>

        <div class="flex flex-col gap-6 sm:flex-row">
          <FeatureItem icon={thunderstormIcon}>
            <p>Protejat impotriva ploilor, furtunilor si a incendiilor</p>
          </FeatureItem>
          <FeatureItem icon={vectorIcon}>
            <p>
              Din punct de vedere al rezistenței la variații de temperatură
              extreme
            </p>
          </FeatureItem>
        </div>

        <FeatureItem icon={badgeCheckIcon} fullWidth={true}>
          <p>
            IMCOP îți oferă UN ACOPERIȘ SIGUR!<br />
            Garantat 30 de ani
          </p>
        </FeatureItem>
      </div>
    </div>
  </section>

  <!-- Decorative Images Section -->
  <section class="py-8 sm:py-12">
    <div class="mx-auto w-full max-w-[1200px] px-4 sm:px-6 lg:px-8">
      <div
        class="flex flex-col items-center justify-center gap-4 sm:flex-row sm:gap-6"
      >
        <div
          class="relative h-[200px] w-full sm:h-[250px] sm:w-[250px] lg:h-[279px] lg:w-[334px]"
        >
          <Image
            src={rectangle49}
            alt=""
            class="block size-full max-w-none rounded object-cover"
            width={334}
            height={279}
          />
        </div>
        <div
          class="flex h-[200px] w-full items-center justify-center sm:h-[250px] sm:w-[250px] lg:h-[279px] lg:w-[334px]"
        >
          <div class="flex-none scale-y-[-100%] rotate-180">
            <div
              class="relative h-[200px] w-full sm:h-[250px] sm:w-[250px] lg:h-[279px] lg:w-[334px]"
            >
              <Image
                src={rectangle45Home}
                alt=""
                class="block size-full max-w-none rounded object-cover"
                width={334}
                height={279}
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</Layout>

<PreFooter />
<Footer />
