---
import Layout from "../layouts/Layout.astro";
import ProductCard from "../components/ProductCard.astro";
import FeatureItem from "../components/FeatureItem.astro";
import { Image } from "astro:assets";
import adobeStock229227468 from "../assets/images/adobe-stock-229227468.png";
import avantajPhoto from "../assets/images/avantaj-photo.png";
import clasicPhoto from "../assets/images/clasic-photo.png";
import avantajTigla from "../assets/images/avantaj/negru-tile.png";
import clasicTigla from "../assets/images/clasic/rosu-inchis-tile.jpg";
import adobeStock192310307 from "../assets/images/adobe-stock-192310307.png";
import adobeStock72047399 from "../assets/images/adobe-stock-72047399.png";
import hammerIcon from "../assets/images/icons/hammer-icon.svg";
import ecoIcon from "../assets/images/icons/eco-icon.svg";
import thunderstormIcon from "../assets/images/icons/thunderstorm-icon.svg";
import vectorIcon from "../assets/images/icons/vector-icon.svg";
import badgeCheckIcon from "../assets/images/icons/badge-check-icon.svg";
---

<Layout>
  <section class="relative overflow-hidden">
    <!-- Right side - Background and Image -->
    <div
      class="absolute top-0 right-0 -z-10 h-full w-3xl bg-linear-to-br from-[#ABCEFF] to-[#E0EBFD] bg-bottom bg-no-repeat"
      style={`background-image: url(${adobeStock229227468.src}), linear-gradient(var(--tw-gradient-stops)); transform: scaleX(-1);`}
    >
    </div>

    <!-- Left side - Text content -->
    <div
      class="rectangle1-gradient relative my-16 max-w-[1200px] px-4 sm:px-6 lg:px-8"
    >
      <div class="mx-auto flex max-w-[800px] flex-col gap-6 px-4 py-30">
        <div class="border-primary w-40 border-b-4"></div>
        <h1 class="text-6xl leading-tight font-bold">
          Un Acoperis Sigur<br />
          Din 1991
        </h1>
        <h2 class="text-md max-w-[500px] leading-relaxed text-neutral-500">
          Fondată în 1991, cu o experiență de peste 20 ani în domeniu, firma
          IMCOP produce și comercializează țigle din beton. Grija noastră este
          legată de siguranța pe care trebuie să ți-o dea acoperișul casei tale.
        </h2>
      </div>
    </div>
  </section>

  <!-- Products Section -->
  <section class="py-12 sm:py-16 lg:py-20">
    <ProductCard
      backgroundImage={avantajPhoto}
      productImage={avantajTigla}
      productImageWidth={160}
      productImageHeight={200}
      title="Tigla Avantaj"
      description="Noul profil de țiglă Avantaj captivează prin suprafața sa dublu curbată, care conferă acoperișului un aspect ondulat"
      linkUrl="/produse/avantaj"
    />

    <ProductCard
      backgroundImage={clasicPhoto}
      productImage={clasicTigla}
      productImageWidth={160}
      productImageHeight={200}
      title="Tigla Clasic"
      description="Eternul clasic are o utilizare largă, el nu se demodează niciodată, forma geometrică, regulată, adaptându-se perfect oricărui tip de arhitectură."
      linkUrl="/produse/clasic"
      reverse={true}
    />
  </section>

  <!-- Details Section -->
  <section class="mx-auto my-16 max-w-[1200px] px-4 sm:px-6 lg:px-8">
    <div class="flex flex-col items-start gap-18 lg:flex-row lg:items-center">
      <!-- Images Grid -->
      <div class="flex flex-col items-center justify-center">
        <Image
          src={adobeStock192310307}
          alt=""
          class="h-[461px] rounded-md object-cover object-right"
          width={413}
          height={461}
        />

        <Image
          src={adobeStock72047399}
          alt=""
          class="-mt-15 h-[284px] rounded-md object-cover object-right"
          width={341}
          height={284}
        />
      </div>

      <!-- Features -->
      <div class="flex flex-col gap-8 sm:gap-12 lg:w-[490px]">
        <div class="flex flex-col gap-6 sm:flex-row">
          <FeatureItem icon={hammerIcon}>
            <p>Rezistent la acțiuni mecanice si alte forte</p>
          </FeatureItem>
          <FeatureItem icon={ecoIcon}>
            <p>Ecologic si prietenos cu mediul</p>
          </FeatureItem>
        </div>

        <div class="flex flex-col gap-6 sm:flex-row">
          <FeatureItem icon={thunderstormIcon}>
            <p>Protejat impotriva ploilor, furtunilor si a incendiilor</p>
          </FeatureItem>
          <FeatureItem icon={vectorIcon}>
            <p>
              Din punct de vedere al rezistenței la variații de temperatură
              extreme
            </p>
          </FeatureItem>
        </div>

        <FeatureItem icon={badgeCheckIcon} fullWidth={true}>
          <p>
            IMCOP îți oferă UN ACOPERIȘ SIGUR!<br />
            Garantat 30 de ani
          </p>
        </FeatureItem>
      </div>
    </div>
  </section>
</Layout>

<!-- <PreFooter /> -->
