---
import { Image } from "astro:assets";
import Button from "./Button.astro";

interface Props {
  backgroundImage: ImageMetadata;
  productImage: ImageMetadata;
  productImageWidth?: number;
  productImageHeight?: number;
  title: string;
  description: string;
  linkUrl: string;
  linkText?: string;
  reverse?: boolean;
  priority?: boolean;
}

const {
  backgroundImage,
  productImage,
  productImageWidth = 160,
  productImageHeight = 200,
  title,
  description,
  linkUrl,
  linkText = "Vezi produs",
  reverse = false,
  priority = false,
} = Astro.props;
---

<div
  class={`flex flex-col bg-neutral-100
    ${reverse ? "lg:flex-row-reverse" : "lg:flex-row"}
  `}
>
  <div
    class="relative min-h-[380px] flex-1 bg-cover bg-center"
    style={`background-image: url(${backgroundImage.src});`}
  >
    <Image
      src={productImage}
      alt={title}
      width={productImageWidth}
      height={productImageHeight}
      class={`absolute inset-0 top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2 drop-shadow-xl drop-shadow-black/50 ${
        reverse ? "lg:left-0" : "lg:left-full"
      }`}
      priority={priority}
    />
  </div>
  <div
    class="relative flex-1 px-4 py-20 text-center lg:px-0 lg:py-64 lg:text-left"
  >
    <div
      class="m-auto flex max-w-[400px] shrink-0 flex-col items-center justify-center gap-6 lg:items-start"
    >
      <h2 class="text-4xl font-bold text-neutral-800">{title}</h2>
      <p>{description}</p>
      <Button href={linkUrl}>
        {linkText}
      </Button>
    </div>
  </div>
</div>
